body {
	background: black; 
	color: orange; 
	font-family: sans-serif
}

.vdu {
	width: 600px;
	height: 250px;
	display: inline-block;
	border: 2px solid orange;
	border-radius: 20px;
}

.vdu table {
	font-family: monospace;
	padding: 20px;
	font-size: large;
}

.vdu td {
	padding-top: 5px;
	padding-bottom: 5px;
}

.vdu th {
	text-align: left;
	padding-right: 10px;
}

.clock {
	display: inline-block;
	width: 200px;
	height: 250px;
	font-family: monospace;
	font-variant: small-caps;
}

.clock h1 {
	text-align: center;
}

.clock svg {
	width: 200px;
	height: 200px;
	fill: black;
	stroke: orange;
	stroke-width: 1;
}
